<div class="container px-sm-0">
  <%= render 'layouts/errors', obj: %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user_info', user: current_user %>
      <%= render 'books/new', book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'users/index', users: @users %>
    </div>
  </div>
</div>